*{
  transform: none !important;
  transition: none !important;
}

ul.dropdown {
  position: relative !important;
}

.mega-parent .mega-menu {
  display: none;
  opacity: 0;
}

.mega-parent {
  /* position: relative !important; */
}

ul.mega-menu li.menu-item a {
  font-size: 16px !important;
  text-align: left;
  padding-left: 10px !important;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;              
  text-overflow: ellipsis;
}

.mega-parent:hover .mega-menu {
  display: flex !important; 
  flex-direction: column !important;
  padding: 5px;
  list-style: none;
  opacity: 1;
  min-height: 470px;
  height: auto;
  margin-top: 15px;
  margin-left: none !important;
  min-width: 200px !important;
}

.mega-menu-wrapper {
  position: absolute;
  top: 100% !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: stretch !important; /* This makes children same height */
  z-index: 999;
}

.mega-parent:hover a {
  transform: none !important;
  transition: none !important;
  border: none !important;
  font-size: 13.6px !important;
}

.mega-parent,
.mega-menu li a,
.mega-menu li a:hover {
  transform: none !important;     
  padding: 0 !important;           
  border: none !important;         
  font-size: inherit !important;   
  transition: none !important;     
}

.ul.sub-menu-item {
  display: none;
  opacity: 0;
}

ul.sub-menu-item.visible {
  display: grid !important;
  grid-template-columns: 1fr 1fr !important;
  visibility: visible !important; 
  opacity: 1 !important;          
  background: none;
  position: static;
  padding: 30px;
  margin-top: 30px;
}

ul.sub-menu-item.visible a {
  font-size: 16px !important;
}

ul.sub-menu-item.visible li:hover a {
  font-size: 16.5px !important;
  background-color: transparent !important;
}

.sub-menu-item li a ,  .sub-menu-item li:hover a{
    font-weight: bold !important;
    text-decoration: underline;
    font-size: 13.6px !important;
    white-space: nowrap;
    overflow: hidden;              
    text-overflow: ellipsis;
}

.mega-menu li a {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  text-decoration: none;
  width: 100% !important;
}

.mega-menu li {
  padding-left: 10px !important;
}

.mega-menu > li:hover > a {
  font-weight: bold !important;
}

.mega-menu > li > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* .mega-menu > li > ul > li {
  margin-bottom: 5px;
} */

.mega-menu, 
.sub-menu-item, 
.sub-menu {
  border: none !important;
  box-shadow: none !important;
}

.dropdown li a,
.dropdown li a:hover {
  transform: none !important;       
  border: none !important;         
  transition: none !important;     
}

.page-content {
  display: none;
}

.mega-parent:hover .page-content {
    display: block !important;
    overflow: auto;
    position: absolute !important;
    top: 100% !important;
    height: auto;
}

.mega-menu-wrapper img {
    max-width: 100%;
    height: auto;
}

.mega-menu-wrapper h2 {
    display: none !important;
}

.mega-content-container {
  display: none;
}

.mega-parent:hover .mega-content-container {
    display: flex !important;
    flex-direction: row !important;
    background-color: rgb(19, 18, 18);
    min-width: 730px;
    position: relative;
    z-index: 100;
    max-height: 570px;
}

li.menu-item:hover ul.sub-menu-item li{
  display: block;
}

ul.sub-menu-item li {
    display: none; 
    min-width: 200px;
    z-index: 999;
    background-color: transparent;
}

.mega-parent:hover .menu-item-img {
  height: 250px;
  width: 250px;
  transform: translateY(-30%) !important;
}

.mega-content-left  {
  width: 65%;
}

.mega-content-right {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.item-title {
  font-weight: bold;
}

.mega-content-text {
  display: none;
} 

.mega-parent:hover .mega-content-text {
  display: block;
  width: 100%;
  padding: 30px;
  height: 40%;
  text-align: justify;
}

.mega-content-text {
  display: none;
}

.original-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  top: -9999px !important;
  left: -9999px !important;
  visibility: hidden !important;
  pointer-events: none !important
}

.mega-menu-content {
  z-index: 10000;
}

.mega-parent:hover .page-content {
  max-width: 100%;
  height: 100%;
  position: static !important;
  transform: scale(0.85) !important;
}

