/* Mega Menu Container - the first submenu */
.mega-parent .mega-menu {
  display: none;
  opacity: 0;
}

.mega-parent:hover .mega-menu {
  display: flex !important; 
  flex-direction: row !important;
  gap: 20px;
  padding: 20px;
  list-style: none;
  opacity: 1;
  background-color: #e2e2e2;
}

.mega-menu li a,
.mega-menu li a:hover {
  transform: none !important;     
  padding: 0 !important;           
  border: none !important;         
  font-size: inherit !important;   
  transition: none !important;     
}

.sub-menu-item {
  display: flex !important;
  flex-direction: column;
  position: static !important;
  visibility: visible !important; 
  opacity: 1 !important;          
  background: none;
  padding: 0;
  margin: 0;
}

.mega-menu > li {
  flex: 1;
}

.sub-menu-item li:hover a {
    font-weight: normal !important;
    text-decoration: underline;
}

.mega-menu > li > a {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  text-decoration: none;
}

.mega-menu > li:hover > a {
  font-weight: bold !important;
}

.mega-menu > li > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #e2e2e2;
}

.mega-menu > li > ul > li {
  margin-bottom: 5px;
}

.mega-menu, 
.sub-menu-item, 
.sub-menu {
  border: none !important;
  box-shadow: none !important;
}