*{
  transform: none !important;
  transition: none !important;
}

.mega-parent .mega-menu {
  display: none;
  opacity: 0;
}

.mega-parent {
  position: relative !important;
}

ul.mega-menu li.menu-item a {
  font-size: 13.6px !important;
}

ul.mega-menu li:hover a {
  font-size: 13.6px !important;
}

.mega-parent:hover .mega-menu {
  display: flex !important; 
  flex-direction: row !important;
  gap: 20px;
  padding: 5px;
  list-style: none;
  opacity: 1;
  position: absolute !important;
  top: 100% !important;
  height: 500px;
}

.mega-parent a {
  font-size: 13.6px !important;
}

.mega-parent:hover a {
  transform: none !important;
  transition: none !important;
  border: none !important;
  font-size: 13.6px !important;
}

.mega-parent,
.mega-menu li a,
.mega-menu li a:hover {
  transform: none !important;     
  padding: 0 !important;           
  border: none !important;         
  font-size: inherit !important;   
  transition: none !important;     
}

.sub-menu-item {
  display: flex !important;
  flex-direction: column;
  position: static !important;
  visibility: visible !important; 
  opacity: 1 !important;          
  background: none;
  padding: 0;
  margin: 0;
}

.mega-menu > li {
  flex: 1;
}

.sub-menu-item li:hover a {
    font-weight: normal !important;
    text-decoration: underline;
    font-size: 13.6px !important;
}

.mega-menu > li > a {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  text-decoration: none;
}

.mega-menu > li:hover > a {
  font-weight: bold !important;
}

.mega-menu > li > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mega-menu > li > ul > li {
  margin-bottom: 5px;
}

.mega-menu, 
.sub-menu-item, 
.sub-menu {
  border: none !important;
  box-shadow: none !important;
}

.dropdown li a,
.dropdown li a:hover {
  transform: none !important;       
  border: none !important;         
  transition: none !important;     
}

/* .mega-menu-content {
    display: none;
} */

.mega-parent:hover .mega-menu-content {
    overflow: auto;
}

.mega-menu-wrapper img {
    max-width: 100%;
    height: auto;
}

.mega-menu-wrapper h2 {
    display: none !important;
}
